.item {
  background: $item-bg;
  border: 1px solid $item-border;
  margin-bottom: 2rem;
  padding: 2rem;
  border-radius: 2px;
}

.item-list {
  background-color: white;
  border: 1px solid $grey;
  overflow-y: scroll;
  width: 100%;
}

.item__info {
  color: $darkgrey;
}
